<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/classes/edit/<%= course._id %>" method="POST">
      <label for="title">Class title:</label>
      <input type="text" id="title" name="title" value="<%= course.title %>">
      <label for="snippet">Subject Area:</label>
      <input type="text" id="snippet" name="snippet" value="<%= course.snippet %>">
      <label for="credits">Number of Credits:</label>
      <input type="number" id="credits" name="credits" value="<% course.credits %>">
      <label for="body">Class description:</label>
      <textarea id="body" name="body"><%= course.body %></textarea>
      <button class = "update" data-doc="<%= course._id %>">Save</button>
    </form>
  </div>

  <%- include("../partials/footer.ejs") %>
  <script>
    const bupdate = document.querySelector('button.update');

    bupdate.addEventListener('click', (e) => {
      const endpoint = `/classes/${bupdate.dataset.doc}`;

      fetch(endpoint, {
        method: 'PUT',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>

